<h1>MongoDB ToDo List</h1>

<form action="/" method="post">
	<label for="todo">Todo: </label>
	<input type="text" name="todo" id="todo">
	<input type="submit" value="Add ToDo">
</form>

{{#if err}}
{{err}}
<br><br>
{{/if}}
{{#if items}}
{{#each items}}
<div {{#if this.completed}} class="completed" {{/if}}>
	<p>{{this.description}}</p>
	<form action="/complete" method="post">
		<input type="hidden" name="completed" value={{this.completed}}>
		<input type="hidden" name="itemId" value={{this.id}}>
		<input type="submit" value="Toggle completed">
	</form>
	<form action="/delete" method="post">
		<input type="hidden" name="itemId" value={{this.id}}>
		<input type="submit" value="Delete">
	</form>
</div>
{{/each}}
</ul>
{{/if}}